<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% include ./models/bs_css.ejs %>
  <title>Document</title>
</head>
<body>
  <script>
    alert("<%= message %>")
    <%- js %>
  </script>
  <% include ./models/bs_js.ejs %>
</body>
</html>